# EditorConfig is awesome: https://EditorConfig.org

# Don't search for .editorconfig in parent directories
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

# Markdown has special use for trailing whitespace
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size  = 2

# Terraform and Terragrunt code
[*.{tf,hcl}]
indent_style = space
indent_size  = 2

# Shell scripts use 4-space indentation
[*.sh]
indent_style = space
indent_size  = 4

# Python code is also using 4-space indentation
[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8
